@use 'screen_size.scss' as ss;
/**
* Helpers
*/

.h-hidden {
    display: none;
}

// Margin top
.h-mt-20 {
    margin-top: 20px;
}

.h-mt-30 {
    margin-top: 30px;
}

// Margin left
.h-ml-20 {
    margin-left: 20px;
}

@include ss.md {
    // Margin top
    .h-mt-0-md {
        margin-top: 0px;
    }

    .h-mt-20-md {
        margin-top: 20px;
    }
    // Margin left
    .h-ml-20-md {
        margin-left: 20px;
    }
}
